!!! 5
%html
	%head
		%meta{:charset => "utf-8"}/
		%title Instapinner 
		%link{:rel => "stylesheet", :type => "text/css", :href => "css/pinstagram.css"}
		%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
		%script{:type => "text/javascript", :src => "js/pinstagram.js"}	
	%body
		#hd
			%h1 Instapinner
			%span.intro Find Instagram content for your Pinterest boards!
			%form{:action=>"/",:method=>"get"}
				%label
					Search Instagram
				%input{:type=>"text", :name=>"term"}
				%input{:type=>"submit",:value=>"submit"}
		%div#image_container
			=yield
	
