!!! XML
!!!
%head
	%title Pinstagram 
	%link{:rel => "stylesheet", :type => "text/css", :href => "css/pinstagram.css"}
	%link{:rel => "stylesheet", :type => "text/css", :href => "js/fancybox/jquery.fancybox-1.3.4.css"}	
	%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
	%script{:type=>"text/javascript", :src=>"js/fancybox/jquery.fancybox-1.3.4.pack.js"}
	%script{:type => "text/javascript", :src => "js/pinstagram.js"}
	%script{:type => "text/javascript", :src => "js/pinterest.js"}	
	
%body
	%h2 Welcome to Pinstagram!
	%div#scroll
	=yield
	
