!!! XML
!!!
%head
	%title Pinstagram 
	%link{:rel => "stylesheet", :type => "text/css", :href => "css/pinstagram.css"}
	%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
	%script{:type => "text/javascript", :src => "js/pinstagram.js"}	
%body
	%h2 Welcome to Pinstagram!
	%div#scroll
	=yield
	
