%div#image_container
	- @images.each do |item|
		%div.image.thumb{:id=>"th-"+item.id}
			%img{:src=>item.images.thumbnail.url}
		%div.image.low_res{:id=>"lr-"+item.id}
			%div{:onclick=>"window.open('/pin?src=#{item.images.low_resolution.url}', 'Pin This', 'width=600','height=340');"}
				%img{:src=>item.images.low_resolution.url}
%input#max_id{:hidden=>"hidden", :value=>"#{@next_max_id}"}
%input#tag{:hidden=>"hidden", :value=>"#{@tag}"}

