%script{:type=>"text/javascript",:src=>"js/pinterest.js"}
%script{:type=>"text/javascript"}
	$(document).ready(function(){
	var script=document.createElement("script");
	$(script).attr("type","text/javascript");
	$(script).attr("src","js/pinterest.js");
	$('body').append($(script));
	});
%div.image
	%img{:src=>"#{@src}"}


