.thumb{
	width:155px;
	height:155px;
}
.image{
	display:inline-block;
	padding:5px;
}
#scroll{
	position:absolute;
	left: 100px;
	top: 0px;
	background-color:#ccc;
	color:#333;
	font-size:20px;
}
.low_res{
	float: left;
	width:336px;
	height:310px;	
	padding:15px;
	box-shadow: 3px 3px 7px #555;
	border: 1px solid #ccc;
	background-color: #fff;
	text-align: center;
	margin:10px;
}
.img{width:336px;height:306px;}
.pin_button{position:absolute;display:none;z-index:1;}