.thumb{
	width:155px;
	height:155px;
}
.image{
	display:inline-block;
	padding:5px;
}
#scroll{
	position:absolute;
	left: 100px;
	top: 0px;
	background-color:#ccc;
	color:#333;
	font-size:20px;
}
.low_res{
	display:none;
	position:fixed;
	z-index: 5000;
	width:336px;
	height:336px;	
	padding:15px;
	box-shadow: 3px 3px 3px #555;
	border: 1px solid #ccc;
	background-color: #fff;
	text-align: center;
}
.low_res img{margin:0 auto;}